
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu"
	rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="path/to/font-awesome/css/font-awesome.min.css">
<title>Sign in</title>
<style>
pr {
	color: white;
	text-transform: uppercase;
	text-align: center;
}

er {
	color: red;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px
}
</style>
</head>

<body>


	<div class="login">
		<h1>Reset Password</h1>
		<er> <span th:text="${message}"></span></er>
		<form action="#" th:action="@{/resetPassword}" th:object="${password}"
			method="post">
			<table>
				<tr>
					<td><input th:field="*{password}" type="text" name="password"
						 placeholder="New Password"  th:minlength="4" th:maxlength="15" required></input></td>
				</tr>
				
				<tr>
					<td><input th:field="*{confirmPassword}" type="text" name="newPassword"
						placeholder="Confirm Password" th:minlength="4" th:maxlength="15" required></input></td>
				</tr>
				<tr>
					<td><input id="*{username}" type="text" name="username"
						th:value="${actualUsername}"></input></td>
				</tr>

				<tr>
					<td><input type="submit" value="Submit"></input></td>
					
				</tr>
			</table>
			<hr>
			
			<a href="/login">Login</a>
		</form>
	</div>
</body>

</html>


